@CHARSET "utf-8";


html, body, div, h1, h2, h3, h4, h5, h6, p, img, dl,
dt, dd, ol, ul, li, table, tr, td, form, object, embed,
article, aside, canvas, command, details, fieldset,
figcaption, figure, footer, group, header, hgroup, legend,
mark, menu, meter, nav, output, progress, section, summary,
time, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}
article, aside, details, figcaption, figure, footer,
header, hgroup, menu, nav, section {
	display: block;
}
html {
	font: 81.25% arial, helvetica, sans-serif;
	background: #fff;
	color: #333;
	line-height: 1;
	direction: ltr;
}

a {
	color: #427fed;
	cursor: pointer;
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
	color: #222;
	font-size: 1.54em;
	font-weight: normal;
	line-height: 24px;
	margin: 0 0 .46em;
}


.wrapper {
	position: relative;
	min-height: 100%;
}

.main-content {
	padding: 0 44px;
	padding-bottom: 100px;
}
.banner {
	text-align: center;
}
.banner h1 {
	font-size: 38px;
	margin-bottom: 15px;
	text-align: center;
	font-family: initial;
	color: #555;
	font-size: 38px;
	font-weight: 300;
	margin-top: 22px;
	margin-bottom: 30px;
}
.banner h2 {
	font-family: 'Open Sans', arial;
	-webkit-font-smoothing: antialiased;
	color: #555;
	font-size: 18px;
	font-weight: 400;
	margin-bottom: 15px
}
.signin-content {
	width: 274px;
	padding: 40px 40px;
	margin-bottom: 20px;
	background-color: #f7f7f7;
	margin: 0 auto 25px;
	border-radius: 2px;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.signin-content img {
	width: 96px;
	height: 96px;
	margin: 0 auto 10px;
	display: block;
	border-radius: 50%;
}
.signin-content p {
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	margin: 10px 0 0;
	min-height: 1em;
}
.signin-content #Username {
	padding: 0 8px;
	direction: ltr;
	height: 44px;
	font-size: 16px;
	width: 100%;
	display: block;
	margin-bottom: 0px;
	z-index: 1;
	position: relative;
	box-sizing: border-box;
}
.signin-content #Password {
	padding: 0 8px;
	direction: ltr;
	height: 44px;
	font-size: 16px;
	width: 100%;
	display: block;
	margin-bottom: 10px;
	z-index: 1;
	position: relative;
	box-sizing: border-box;
}
input[type=email], input[type=password], input[type=text] {
	margin: 0;
	background: #fff;
	border: 1px solid #d9d9d9;
	border-top: 1px solid #c0c0c0;
	color: #404040;
	height: 31px;
}
input[type=checkbox] {
	display: inline-block;
	width: 13px;
	height: 13px;
	margin: 0;
	cursor: pointer;
	vertical-align: bottom;
	border: 1px solid #c6c6c6;
	border-radius: 1px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	position: relative;
}
.signin-content input[type=button] {
	width: 100%;
	height: 35px;;
	display: block;
	margin-bottom: 10px;
	z-index: 1;
	position: relative;
	box-sizing: border-box;
	border: 1px solid #2f5bb7;
	color: #fff;
	text-shadow: 0 1px rgba(0,0,0,0.3);
	background-color: #357ae8;
	background-image: -webkit-linear-gradient(top,#4d90fe,#357ae8);
}
.signin-content label {
	float: left;
}
.signin-content a {
	float: right;
}
.signin-content .alert {
	margin-top: 2px;
	margin-bottom: 7px;
	display: block;
	color: #dd4b39;
	line-height: 17px;
}
.signin-footer {
	text-align: center;
	margin-top: 10px;
}



.signuppage {
	margin: 0 auto;
	width: 950px;
	padding-top: 23px;
	padding-bottom: 100px;
}
.signuppage h1 {
	text-align: center;
	font-family: initial;
	color: #555;
	font-size: 38px;
	font-weight: 300;
	margin-top: 27px;
	margin-bottom: 50px;
}
.errorMessage {
	text-align: center;
	font-family: initial;
	color: #dd4b39;
	font-size: 20px;
	margin-bottom: 18px;
}
.signuppage .sign-up {
	margin: 0 auto;
	width: 362px;
}
.signuppage .sign-up-box {
	border: 0;
	margin: 0;
	padding: 25px;
	background: #f1f1f1;
}
.signuponepage .form-element {
	position: relative;
	margin: 0 0 1.5em;
}
.signuponepage .form-element label {
	display: inline-block;
	width: 100%;
	position: relative;
}
.form-element .firstname {
	width: 150px;
	margin-right: 5px;
}
.form-element .placeholder-text {
	position: absolute;
	top: 8px;
	left: 10px;
	color: #999;
	display: none;
}
.signup-input input, select {
	height: 31px;
	width: 97%;
}
.form-element div {
	position: relative;
	margin: 0 0 1.1em;
}
.form-element strong {
	line-height: 25px;
}
.form-element span {
	margin: .5em 0 0;
	display: block;
	color: #dd4b39;
	line-height: 17px;
}
.form-element span {
	margin: .5em 0 0;
	display: block;
	color: #dd4b39;
	line-height: 17px;
}
.form-element input[type=email], input[type=password], input[type=text] {
	padding: 0 8px;
	direction: ltr;
	font-size: 16px;
	display: block;
	margin-bottom: 0px;
	z-index: 1;
	position: relative;
	box-sizing: border-box;
	height: 31px;
}
.form-element #First, #Last{
	width: 95%;
}
.signup-button {
	text-align: right;
	margin: 0;
}
.signup-button input {
	margin-top: 20px;
	border: 1px solid #3079ed;
	text-shadow: 0 1px rgba(0,0,0,0.1);
	background-color: #4d90fe;
	background-image: -webkit-linear-gradient(top,#4d90fe,#4787ed);
	color: white;
	height: 27px;
	width: 60px;
}
