@CHARSET "ISO-8859-1";

h1 {
	font-size: 40px;
	font-family: "Times New Roman", Times, serif;
	font-style: italic;
	text-align: center;
	color: black;
}

#para1 {
	background-color: #00ff00;
}

.full {
	position: relative;
	min-height: 100%;
}

.registr {
	background-color: rgb(240, 240, 240);
	font-size: 100px;
	text-align: center;
	color: green;
	border: 0;
	width: 400px;
	height: 400px;
	margin: 0 auto;
}

.image {
	font-size: 20px;
	border-radius: 20%;
	height: 100px;
	width: 100px;
	margin: 50px auto;
	border-radius: 20%;
}

.sign {
	
}