@CHARSET "utf-8";


* {
	margin: 0;
	padding: 0;
}
html {
	font: 81.25% arial, helvetica, sans-serif;
	background: #fff;
	color: #333;
	line-height: 1;
	direction: ltr;
}
body {
	height: 100%;
}

a {
	color: #427fed;
	cursor: pointer;
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
	color: #222;
	font-size: 1.54em;
	font-weight: normal;
	line-height: 24px;
	margin: 0 0 .46em;
}

ul {
	list-style: none;
}

.wrapper {
	position: relative;
	min-height: 100%;
}

.header {
	padding: 10px 0;
	min-height: 0;
	min-width: 940px;
	position: fixed;
	box-shadow: 0px 0 3px rgba(0,0,0,0.5);
	background: #eaeaea;
	top: 0;
	width: 100%;
	z-index: 99;
}
.header .inner-header {
	position: relative;
	width: 940px;
	padding: 0;
	margin: 0 auto;
}

.inner-header .logo {
	float: left;
	position: relative;
	background-position: center -2px;
	margin-top: -13px;
	margin-bottom: -10px;
	padding: 21px 0px 19px 0px;
	color: #333;
	max-height: 15px;
}
.logo a {
	position: relative;
	font-size: 15pt;
	color: #333;
}

.inner-header .nav-list {
	margin-right: 0;
	float: right;
}
.nav-list li {
	float: left;
}
.nav-list .nav-item {
	margin-top: -10px;
	margin-bottom: -10px;
	padding: 21px 10px 19px;
	position: relative;
	color: #333;
	float: left;
	max-height: 15px;
}
.nav-list a {
	font-weight: bold;
}




.inner-header .search-bar {
	float: left;
	margin: 0 0 0 15px;
	padding: 0;
	border: 1px solid #999;
	height: 33px;
	background: #fff;
	border-radius: 5px;
}
.search-bar .search-logo {
	margin-top: 6px;
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url('/QuizWebsite/Images/search.png');
	margin: 6px 0 6px 5px;
	float: left;
}
.search-bar input {
	padding: 5px 5px 3px;
	color: black;
	background: #fff;
	border: 0;
	float: left;
	font-size: 16px;
	height: 18px;
	margin-top: 2px;
	overflow: hidden;
	line-height: 19px;
	outline: 0;
	width: 450px;
}
.search-bar .search-result {
	position: absolute;
	display: block;
	top: 33px;
	left: 63px;
	width: 485px;
	background-color: #fff;
	border: 1px solid #aeaeae; 
	border-radius: 5px;
}
.search-bar .search-hidden {
	display: none;
}
.search-result .no-result {
	position: relative;
	padding: 16px 15px 19px 15px;
	color: #555;
}
.search-result li {
	width: 100%;
}
.search-result li:HOVER {
	background: #4c66a4;
}
.search-result li:HOVER a {
	color: #fff;
}
.search-result label {
	margin-left: 54px;
	display: block;
	height: 48px;
	overflow: hidden;
	position: relative;
}
.search-result label .result-name {
	line-height: 16px;
	margin-top: 14px;
	width: 100%;
	display: inline-block;
	float: left;
	overflow: hidden;
	text-overflow: ellipsis;
}
.search-result img {
	float: left;
	height: 40px;
	margin: 4px 0 0 7px;
	overflow: hidden;
	width: 40px;
	-webkit-border-radius: 3px;
	border: 0;
}


.nav-list li .nav-p {
	visibility: hidden;
	top: 44px;
	left: 664px;
	z-index: 60;
	position: absolute;
}
.nav-list li .nav-h {
	visibility: hidden;
	top: 44px;
	left: 598px;
	z-index: 60;
	position: absolute;
}
.nav-list .hover {
	
}
.hover a:HOVER {
	background: #DFEAF4;
}
.nav-list .content {
	border: 1px solid #acacac!important;
	border-radius: 0;
	background: white;
	box-shadow: 0 1px 2px rgba(0,0,0,0.2);
	border-top: 0!important;
	word-wrap: break-word;
	padding: 0;
	float: left;
	width: 190px;
	color: #333;
}
.nav-list .list {
	margin: 5px 0;
}
.list li {
	float: none;
	margin: 0;
}
.list li a {
	padding: 5px 10px;
	border-radius: 0;
	display: block;
	color: #333;
	font-weight: bold;
}
.list .space {
	border-top: 1px solid #eaeaea;
	margin: 5px 0;
}
.add-quiz {
	padding: 5px 10px;
	margin: 5px 0 0 5px;
	border: 1px solid #999;
	border-bottom: 1px solid #777;
	font-size: 1em;
	float: left;
	background: linear-gradient(to bottom,#fefefe 0,#e0e0e0 70%);
	border-radius: 3px;
	cursor: pointer;
	display: inline-block;
	text-align: center;
	text-shadow: 0 1px #f0f0f0;
	color: #333;
}



.main-nav {
	float: left;
	width: 350px;
	position: fixed;
	top: 55px;
	left: 0;
	z-index: 100;
}
.main-nav .content {
	float: right;
	width: 160px;
	margin-top: 20px;
	padding-right: 20px;
}


.search-content {
	position: relative;
	margin-top: 55px;
	margin-left: 260px;
	margin-right: 260px;
	margin-bottom: 0;
	min-height: 575px;
}
.search-content .count {
	position: relative;
	width: 100%;
	height: 30px;
	padding-top: 20px;
	padding-left: 10px;
	padding-bottom: 10px;
}
.search-content .results {
	position: relative;
	padding-bottom: 50px;
	width: 100%;
}
.search-content .single-result {
	position: relative;
	min-height: 60px;
	padding: 12px 0 8px 0;
}
.search-content .results img {
	float: left;
}
.search-content .single-result .bd {
	margin-left: 68px;
	width: 65%;
}



.main-content {
	float: left;
	width: 600px;
	min-height: 610px;
	position: relative;
	top: 55px;
	left: 350px;
}


.view-content {
	position: relative;
	margin-top: 55px;
	margin-left: 255px;
	margin-right: 190px;
	margin-bottom: 0;
	min-height: 570px;
}
.view-no-result {
	position: relative;
	top: 20px;
}
.view-content .profile {
	position: relative;
	padding-top: 20px;
	padding-bottom: 30px;
	padding-left: 20px;
	padding-right: 20px;
	
}
.view-content .header-cont {
	float: left;
	width: 100%;
	padding-bottom: 10px;
}
.view-content .header-cont .username {
	color: #333;
	float: left;
	position: relative;
	width: 680px;
}
.view-content .header-cont .friends-info {
	float: right;
	position: relative;
}
.friends-info .friends-button {
	float: left;
	border-radius: 2px;
	box-sizing: border-box;
	display: inline-block;
	outline: 0;
	font-size: 1em;
	padding: 3px 8px 4px 8px;
	text-align: center;
	text-decoration: none;
	text-shadow: none;
	cursor: pointer;
	-webkit-font-smoothing: antialiased;
	background: #eee;
	border: 1px solid #ccc;
	box-shadow: none;
	color: #555;
	font-weight: 700;
	margin-right: 5px;
	line-height: 18px;
}
.friends-info .count {
	position: relative;
	background: #dadada;
	color: #fff;
	-webkit-font-smoothing: antialiased;
	font-weight: bold;
	min-width: 10px;
	text-align: center;
	display: inline-block;
	margin: -3px -8px -6px 8px;
	padding: 3px 6px 4px 6px;
	border-radius: 0;
}
.add-friend {
	float: right;
	padding: 5px 10px;
	border: 1px solid #999;
	font-size: 1em;
	background: linear-gradient(to bottom,#fefefe 0,#e0e0e0 70%);
	border-radius: 3px;
	cursor: pointer;
	display: inline-block;
	text-align: center;
	text-shadow: 0 1px #f0f0f0;
	color: #333;
	font-weight: bold;
}
.is-friend {
	float: right;
	padding: 5px 10px;
	border: 1px solid #999;
	font-size: 1em;
	background: #fff;
	border-radius: 3px;
	cursor: auto;
	display: inline-block;
	text-align: center;
	text-shadow: 0 1px #f0f0f0;
	color: #777;
	font-weight: bold;
}
.request-sent {
	float: right;
	padding: 5px 10px;
	border: 1px solid #999;
	font-size: 1em;
	background: #fff;
	border-radius: 3px;
	cursor: auto;
	display: inline-block;
	text-align: center;
	text-shadow: 0 1px #f0f0f0;
	color: #333;
	font-weight: bold;
}
.view-content .profile-feed {
	float: left;
	width: 100%;
}
.profile-feed .left-prof {
	float: left;
	margin: 0 10px 0 0;
	width: 155px;
}
.profile-feed .left-prof .photo {
	float: left;
	position: relative;
	width: 150px;
}
.left-prof .photo img {
	width: 150px;
	height: 150px;
}
.profile img {
	width: 60px;
	height: 60px;
}
.profile .row {
	margin-top: 15px;
}
.section {
	float: left;
	width: 100%;
}
.profile-tabs li, .profile-nav li {
	padding: 10px 10px 10px 0px;
}
.profile-tabs a {
	font-weight: bold;
	margin-bottom: 3px;
	color: #19558d;
}
.profile-tabs .count {
	color:#999;
	font-weight: normal;
	margin-left: 3px;
}
.profile-nav a {
	margin-bottom: 3px;
	color: #538dc2;
}

.profile-feed .right-prof {
	float: right;
	width: 680px;
}
.right-prof .profile-feed-header {
	float: left;
	width: 100%;
	max-height: 10px;
}
.right-prof .profile-feed-header .line {
	background: #eaeaea;
	padding: 5px;
	margin-left: -5px;
}
.right-prof .feed-content {
	margin-left: 25px;
	padding-top: 35px;
	width: 540px;
}
.feed-content .feed-row {
	float: left;
	width: 100%;
}
.feed-item {
	width: 485px;
	display: inline;
	border-bottom: 1px solid #e0e0e0;
	float: left;
	position: relative;
	padding: 10px 0;
}


.notifications {
	position: relative;
	margin: 55px 380px 30px 320px;
	min-height: 545px;
}
.notifications .notif-content {
	position: relative;
	padding-top: 30px;
}
.notif-content h1 {
	border-bottom: 1px solid #b0b0b0;
	margin-bottom: 1px;
	padding-bottom: .4em;
}
.notif-content li {
	border-bottom: 1px solid #e0e0e0;
	float: left;
	position: relative;
	padding: 10px 0;
	width: 100%;
}

.notif-content li .notif-main {
	float: left;
	position: relative;
}
.notif-content li .img-label {
	float: left;
	position: relative;
}
.notif-content li .notif-author {
	float: left;
	position: relative;
	padding-top: 5px;
	margin-left: 6px;
	margin-right: 5px;
	display: inline-block;
	font-weight: bold;
	color: #19558d;
}
.notif-content li .notif-author:HOVER {
	text-decoration: underline;
}
.notif-main .notif-text {
	float: left;
	position: relative;
	padding-top: 5px;
	display: inline-block;
	font-weight: normal;
	color: #333;
}
.notif-main .timestamp {
	float: left;
	color: #999;
	font-size: .8em;
	font-weight: normal;
	line-height: 1.6em;
	padding-top: 5px;
	margin-left: 6px;
}
.notif-content li .notif-decision {
	float: right;
	position: relative;
}
.notif-decision .accept {
	font-weight: bold;
	border-radius: 2px;
	box-sizing: border-box;
	display: inline-block;
	outline: 0;
	font-size: 1em;
	padding: 3px 8px 4px 8px;
	text-align: center;
	text-decoration: none;
	text-shadow: none;
	cursor: pointer;
	-webkit-font-smoothing: antialiased;
	border: 1px solid rgba(122,170,47,0.7);
	color: #406a24;
	background: #cee492;
	box-shadow: 0 1px 1px rgba(200,200,200,0.35);
}
.notif-decision .decline {
	font-weight: bold;
	border-radius: 2px;
	box-sizing: border-box;
	display: inline-block;
	outline: 0;
	font-size: 1em;
	padding: 3px 8px 4px 8px;
	text-align: center;
	text-decoration: none;
	text-shadow: none;
	cursor: pointer;
	-webkit-font-smoothing: antialiased;
	border: 1px solid rgba(122,170,47,0.7);
	color: #406a24;
	background: rgba(231, 240, 206, 0.22);
	box-shadow: 0 1px 1px rgba(200,200,200,0.35);
}
.notifications .no-result {
	padding-top: 15px;
	font-weight: normal;
	color: #aeaeae;
	font-size: 15px;
}




