@CHARSET "utf-8";


html, body, div, h1, h2, h3, h4, h5, h6, p, img, dl,
dt, dd, ol, ul, li, table, tr, td, form, object, embed,
article, aside, canvas, command, details, fieldset,
figcaption, figure, footer, group, header, hgroup, legend,
mark, menu, meter, nav, output, progress, section, summary,
time, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}
article, aside, details, figcaption, figure, footer,
header, hgroup, menu, nav, section {
	display: block;
}
html {
	font: 81.25% arial, helvetica, sans-serif;
	background: #fff;
	color: #333;
	line-height: 1;
	direction: ltr;
}
body {
	height: 100%;
}

a {
	color: #427fed;
	cursor: pointer;
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
	color: #222;
	font-size: 1.54em;
	font-weight: normal;
	line-height: 24px;
	margin: 0 0 .46em;
}

ul {
	list-style: none;
}

.wrapper {
	position: relative;
	min-height: 100%;
}

.header {
	padding: 10px 0;
	min-height: 0;
	min-width: 940px;
	position: fixed;
	box-shadow: 0px 0 3px rgba(0,0,0,0.5);
	background: #eaeaea;
	top: 0;
	width: 100%;
	z-index: 99;
}
.header .inner-header {
	position: relative;
	width: 940px;
	padding: 0;
	margin: 0 auto;
}

.inner-header .logo {
	float: left;
	position: relative;
	width: 70px;
	background-position: center -2px;
	margin-top: -13px;
	margin-bottom: -10px;
	padding: 21px 10px 19px;
	color: #333;
	max-height: 15px;
}
.logo a {
	position: relative;
	font-size: 15pt;
	color: #333;
}

.inner-header .nav-list {
	margin-right: 0;
	float: right;
}
.nav-list li {
	float: left;
}
.nav-list .nav-item {
	margin-top: -10px;
	margin-bottom: -10px;
	padding: 21px 10px 19px;
	position: relative;
	color: #333;
	float: left;
	max-height: 15px;
}
.nav-list a {
	font-weight: bold;
}




.inner-header .search-bar {
	float: left;
	margin: 0 0 0 5px;
	padding: 0;
	border: 1px solid #999;
	height: 33px;
	background: #fff;
}
.search-bar .search-logo {
	margin-top: 6px;
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url('/QuizWebsite/Images/search.png');
	margin: 6px 0 6px 5px;
	float: left;
}
.search-bar input {
	padding: 5px 5px 3px;
	color: black;
	background: #fff;
	border: 0;
	float: left;
	font-size: 16px;
	height: 18px;
	margin-top: 2px;
	overflow: hidden;
	line-height: 19px;
	outline: 0;
	width: 300px;
}


.nav-list li .nav-p {
	visibility: hidden;
	top: 44px;
	left: 750px;
	z-index: 60;
	position: absolute;
}
.nav-list li .nav-h {
	visibility: hidden;
	top: 44px;
	left: 700px;
	z-index: 60;
	position: absolute;
}
.nav-list .hover {
	
}
.hover a:HOVER {
	background: #DFEAF4;
}
.nav-list .content {
	border: 1px solid #acacac!important;
	border-radius: 0;
	background: white;
	box-shadow: 0 1px 2px rgba(0,0,0,0.2);
	border-top: 0!important;
	word-wrap: break-word;
	padding: 0;
	float: left;
	width: 190px;
	color: #333;
}
.nav-list .list {
	margin: 5px 0;
}
.list li {
	float: none;
	margin: 0;
}
.list li a {
	padding: 5px 10px;
	border-radius: 0;
	display: block;
	color: #333;
	font-weight: bold;
}
.list .space {
	border-top: 1px solid #eaeaea;
	margin: 5px 0;
}




.main-nav {
	float: left;
	width: 350px;
	position: fixed;
	top: 55px;
	left: 0;
	z-index: 100;
}
.main-nav .content {
	float: right;
	width: 160px;
	margin-top: 20px;
	padding-right: 20px;
}


.search-content {
	position: relative;
	margin-top: 55px;
	margin-left: 260px;
	margin-right: 260px;
	margin-bottom: 0;
	min-height: 575px;
}
.search-content .count {
	position: relative;
	width: 100%;
	height: 30px;
	padding-top: 20px;
	padding-left: 10px;
	padding-bottom: 10px;
}
.search-content .results {
	position: relative;
	padding-bottom: 50px;
	width: 100%;
}
.search-content .single-result {
	position: relative;
	min-height: 60px;
	padding: 12px 0 8px 0;
}
.search-content .results img {
	float: left;
}
.search-content .single-result .bd {
	margin-left: 68px;
	width: 65%;
}



.main-content {
	float: left;
	width: 600px;
	min-height: 610px;
	position: relative;
	top: 55px;
	left: 350px;
}


.view-content {
	position: relative;
	margin-top: 55px;
	margin-left: 260px;
	margin-right: 260px;
	margin-bottom: 0;
	min-height: 575px;
}
.view-content .profile {
	position: relative;
	margin-top: 20px;
}
.profile .photo {
	float: left;
	position: relative;
	width: 60px;
	height: 60px;
}
.profile img {
	width: 60px;
	height: 60px;
}



